@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>This website is test website to test the features in Microsoft Azure. </p>
<a href="https://azure.microsoft.com/en-us/">Microsoft Azure Link</a>